<div class='panel panel-primary'>
  <div class='panel-heading'>
    User Management
  </div>
  <div class='panel-body'>
    <div>
      <search-list [title]='searchTitle' (change)="criteriaChange($event)"></search-list>
    </div>
    <div class='table-responsive'>
      <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addUser()">Add</button></div>
      <div *ngIf='users && users.length==0' class="alert alert-info" role="alert">No record found!</div>
      <table class='table table-striped' *ngIf='users; else loadingScreen;'>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | userFilter:listFilter">
            <td>{{user.FirstName}}</td>
            <td>{{user.LastName}}</td>
            <td>{{user.Gender}}</td>
            <td>
              <button title="Edit" class="btn btn-primary" (click)="editUser(user.Id)">Edit</button>
              <button title="Delete" class="btn btn-danger" (click)="deleteUser(user.Id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-template #loadingScreen><div class="alert alert-info" role="alert"><md-progress-spinner mode="indeterminate" style="width:50px; height:50px"></md-progress-spinner>loading...</div></ng-template>
    </div>
    <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{msg}}
    </div>
  </div>
</div>
